.link {
  color: black;
  position: relative;
  margin-top: 40px;
}

.link h2 {
  font-size: 2.5rem;
  line-height: 20px;
}

.link ::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -10px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  z-index: -1;
  background-color: yellow;
  transition: 0.6s cubic-bezier(0.25, 0.1, 0, 2.05);
}

.link :hover::after {
  left: 0;
  bottom: -2px;
  width: calc(100% + 10px);
  height: calc(100% + 5px);
}
